@mixin button-style {
    background-color: $orange;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
    text-decoration: unset;
}

div#home-section{
    >div:first-child{
        position: relative;
    }

    >div:nth-child(2){
        background-color: $orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        >div{
            display: flex;
            flex-direction: column;
            >h4 {
                color: #FFFFFF;
                margin: 0;
            }
            >div {
                >div {
                    >label, 
                    p, li {
                        margin: 0;
                        color: #FFFFFF;
                    }
                }
                >img {
                    opacity: .4;
                }
            }
        }
    }

    //Tecnologies
    >div:nth-child(3){
        display: flex;
        justify-content: center;
        >div{
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            padding-bottom: 20px;
            >h1:first-child {
                margin: 0;
                margin-bottom: 15px;
                font-weight: bold;
                color: $blue-2;
            }

            >div:nth-child(2){
                display: flex;
                >div{
                    box-sizing: border-box;
                    padding: .5em;
                    &:first-child{
                        display: flex;
                        flex-direction: column;
                        p {
                            font-size: 18px;
                            &:first-child{margin: 0 0 1em 0;}
                            &:nth-child(2){margin: 0;}
                        }
                        >div{
                            display: flex;
                            flex-direction: row;
                            padding-top: 1em;
                            >a {
                                @include button-style();
                            }
                        }
                    }
                    &:last-child{
                        border-radius: 1em;
                        >div {
                            padding: 1em;
                            border-radius: 1em;
                            border: 1px solid $blue-2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: rgba(0,0,0,.3) 10px 9px 17px 0px;
                            >img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            // img lang programming container
            >div:last-child{
                display: flex;
                flex-direction: column;
                >a {
                    @include button-style();
                }
            }
        }
    }

    //steps
    >div:nth-child(4){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >div:first-child {
            width: 90%;
            display: flex;
            flex-direction: row;

            //container img and steps
            >div:first-child{
                //steps container
                >div{
                    display: flex;
                    flex-direction: row;
                }
            }

            >div:last-child{
                display: flex;
                flex-direction: column;
                >h1{
                    margin: 0;
                    font-weight: bold;
                    color: $blue-2
                }
            }
        }
    }  
}

@media (min-width: 980px) {
    div#home-section{
        //Map
        >div:first-child{
            height: 1106px;
            >div:nth-child(2){
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-image: url("/assets/images/america-map.jpg");
                background-repeat: no-repeat;
                background-position: 53%;
                background-size: cover;
                >img{
                    display: none;
                }
            }
            >div:first-child, 
            >div:last-child{
                position: absolute;
                z-index: 15;
                >h4{
                    margin: 0;
                    font-weight: bold;
                    font-size: 36px;
                    color: $blue-2;
                }
                >p {
                    font-size: 18px;
                }
            }
            >div:first-child{
                width: 281px;
                right: 0px;
                top: 50px;
            }
            >div:last-child{
                width: 369px;
                bottom: 90px;
            }
        }

        //Why Chose Toucan?
        >div:nth-child(2){
            display: flex;
            justify-content: center;
            flex-direction: row;
            >div{
                width: 75%;
                padding-top: 70px;
                padding-bottom: 20px;
                >h4 {
                    font-size: 36px;
                    font-weight: bold;
                }
                >div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    >div{
                        padding-left: 40px;
                        >label {
                            font-size: 22px;
                            position: relative;
                            font-weight: bold;
                            >span{
                                font-weight: bold;
                                position: absolute;
                                transform: translateX(-40px);
                                font-size: 35px;
                            }
                        }
                        p, li {
                            font-size: 18px;
                        }
                        p , ul {
                            margin-top: .3em;
                        }
                    }
                    >img {
                        width:  239px;
                    }
                }
            }
        }

        //tecnologies
        >div:nth-child(3){
            >div{
                width: 90%;
                >div:nth-child(2){
                    margin-bottom: 70px;
                    flex-direction: row;
                    >div{
                        width: 50%;
                    }
                }
                >div:last-child{
                    >a {
                        display: none;
                    }
                }
            }
        }
        //steps
        >div:nth-child(4){
            >div:first-child {
                width: 90%;
                flex-direction: row;
                >div:last-child{
                    >h1{
                        margin-bottom: 15px;
                    }
                    >div:last-child{
                        >a {
                            @include button-style();
                            padding: 1em 2em;
                        }
                    }
                }
            }
            >div:last-child{
                display: none;
            }
        }
    }
}

@media (max-width: 980px) {
    div#home-section{
        //Map
        >div:first-child{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            >div{
                width: 90%;
            }
            >div:nth-child(2){
                width: 100%;
                background-size: cover;
                display: flex;
                justify-content: center;
                
            }
            >div:first-child, 
            >div:last-child{
                >h4{
                    margin: 0;
                    font-weight: bold;
                    font-size: 27px;
                    color: $blue-2;
                }
                >p {
                    font-size: 17px;
                    text-align: justify;
                }
            }
            >div:first-child{
                padding-top: 60px;
            }
            >div:last-child{
                top: -30px;
                position: relative;
            }
        }

        // Why Chose Toucan?
        >div:nth-child(2){
            display: flex;
            justify-content: center;
            flex-direction: row;
            >div {
                width: 85%;
                padding-top: 50px;
                >h4 {
                    font-size: 27px;
                    font-weight: bold;
                }
                >div{
                    min-height: 219px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    >div{
                        width: 100%;
                        position: relative;
                        z-index: 30;
                        >label{
                            display: flex;
                            flex-direction: column;
                            font-weight: bold;
                            font-size: 19px;
                            >span{
                                font-size: 25px;
                                font-weight: bold;
                            }
                        }
                        p, li {
                            font-size: 15px;
                        }
                    }
                    >img {
                        z-index: 29;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 139px;
                    }
                }
            }
        }

        //tecnologies
        >div:nth-child(3){
            >div {
                width: 85%;
                >div:nth-child(2){
                    margin-bottom: 30px;
                    flex-direction: column;
                    >div{
                        width: 100%;
                        >div > a:last-child{
                            display: none;
                        }

                        &:last-child{
                            display: flex;
                            justify-content: center;
                            >div {
                                width: 60%;
                                min-width: 290px;
                            }
                        }    
                    }
                }
                // img lang programming container
                >div:last-child{
                    >a {
                        display: block;
                    }
                }
            }
        }

        //steps
        >div:nth-child(4){
            >div:first-child {
                width: 85%;
                flex-direction: column-reverse;
                //contenedor de imagen - pasos
                >div:first-child{
                    display: flex;
                    justify-content: center;
                }

                >div:last-child{
                    >div:last-child{
                        display: none;
                    }
                }
            }
            >div:last-child{
                margin-top: 1em;
                display: flex;
                width: 85%;
                >a{
                    @include button-style();
                    width: 100%;
                }
            }
        }
    }
}


// Custom query form img steps
//img step de 567 en adelante
@media (min-width: 709px) {
    div#home-section{
        >div:nth-child(4){
            >div:first-child {
                // img and steps container
                >div:first-child{
                    >div{
                        >img {}
                        //steps container
                        >div {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            //steps
                            >div {
                                display: flex;
                                flex-direction: column;

                                &:first-child{
                                    position: absolute;
                                    top: 0;
                                    left: -150px;
                                }
                                &:nth-child(2){
                                    transform: translate(-45px, -70px);
                                }
                                &:nth-child(3){}
                                &:nth-child(4){
                                    transform: translate(-40px, 80px);
                                }
                                &:last-child{
                                    position: absolute;
                                    bottom: 0;
                                    left: -150px;
                                }
                                >label {
                                    white-space: nowrap;
                                    &:first-child{
                                        font-weight: bold;
                                        font-size: 18px;
                                    }
                                    &:last-child{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 709px) {
    div#home-section{
        >div:nth-child(4){
            >div:first-child {
                // img and steps container
                >div:first-child{
                    >div{
                        >img {
                            width: 215px;
                        }
                        //steps container
                        >div {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            //steps
                            >div {
                                display: flex;
                                flex-direction: column;

                                &:first-child{
                                    position: absolute;
                                    top: 0;
                                    left: -75px;
                                }
                                &:nth-child(2){
                                    transform: translate(-22px, -20px);
                                }
                                &:nth-child(3){}
                                &:nth-child(4){
                                    transform: translate(-20px, 24px);
                                }
                                &:last-child{
                                    position: absolute;
                                    bottom: 0;
                                    left: -75px;
                                }
                                >label {
                                    white-space: nowrap;
                                    &:first-child{
                                        font-weight: bold;
                                        font-size: 14px;
                                    }
                                    &:last-child{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
